{% extends "layout.html" %}

{% block heading %}
    <title>Dofitos dofilock</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>dofilock BFA</h1>
    <p>Info locks instances miembros Dofitos: Consulta info de los miembros del clan de Wow "By the Rage of my
        Balls", en servidor C'thun.</p>
    <br>
        <h2>{{titulo}}</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">dungeon/boss</th>
                <th scope="col">dofitos lockeados</th>
            </tr>
            </thead>
            <tbody>
            {% for dungeon in dungeons %}
            <tr>
                <th scope="row">{{dungeon}}</th>
                <td>{{", ".join(dungeons[dungeon])}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}